[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://github.com/google/googletest
[submodule "contrib/deck.js"]
	path = contrib/deck.js
	url = https://github.com/imakewebthings/deck.js.git
